@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Saira:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 12vh;
    background-color: rgb(0, 0, 0);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 48px;
    width: 48px;
}

#firstlogo {
    height: 60px;
    width: 170px;
}

.logo p {
    font-size: 25px;
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav ul {
    display: flex;
    align-items: center;
    height: 12vh;
}

.nav li a {
    list-style-type: none;
    text-decoration: none;
    margin: 2px 25px 2px 25px;
    /* color: rgb(137 92 31); */
    color: rgb(149 106 48);
}

.nav li a:hover {
    color: rgb(213 161 75);
    text-decoration: underline;
    text-underline-offset: 4px;
}

.nav li {
    list-style: none;
}

.navbutton button {
    padding: 6px 15px 7px 15px;
    margin: 0 8px 0 8px;
    border-radius: 5px;
    border-color: #ffc01d;
    background-color: rgb(0, 0, 0);
}

#get{
    color: black;
    background-color: #ffc01d;
    font-weight: 700;
}

#get:hover{
    box-shadow: 0px 0px 0px 2px #d2c4aa, 0px 0px 15px 5px rgba(255, 246, 231, 0.6);
    transform: translateY(-2px); 
}

.front{
    width: 100%;
    height: 170vh;
    background-image: url(Images/back6.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.head p{
    font-size: 20px;
    text-align: center;
}

#head-first{
    font-size: 55px;
    font-weight: 900;
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 20px;
    margin-top: 20px;
    color: rgb(255, 195, 45);
}

.main{
    margin-top: 50px;
    width: 90vw;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    background-color: #090502;
}

.left{
    height: 110vh;
    width: 50vw;
    /* border: 2px solid black; */
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left-top{
    height: 20vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.left-top-container{
    height: 120px;
    width: 170px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left-top-container p{
    text-align: center;
}

.left-top-container img{
    width: 30px;
    height: 30px;
    margin: 4px 0;
}

.left-bottom{
    height: 80vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    /* border: 2px solid rgb(255, 255, 255); */
}

.Personal-Info{
    height: 80vh;
    width: 48vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 25px;
    padding-left: 15px;
    padding-top: 15px;
}

.text-button{
    padding: 10px 20px 11px 20px;
    border-radius: 10px;
    background-color: rgb(255, 229, 115);
    color: black;
    border: 2px solid rgb(149 106 48);
}

.w-12{
    width: 18rem;
}

.Personal-first h1{
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgb(255, 195, 45);;
}

.Personal-first p{
    font-size: 14px;
}

.Personal-thirdandSecound{
    display: flex;
    justify-content: space-between;
    width: 80vh;
}

.right{
    height: 100vh;
    width: 50vw;
    border: 2px solid black;
    background-color: green;
}